<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script defer type="module" src="../src/home_reportBtn.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/global.css">
    <link rel="stylesheet" href="/public/css/home.css">
    <!-- <link rel="stylesheet" href="/public/css/home.css"> -->
    <title>Document</title>
</head>
    
<body>
    <!-- popup -->
    <div class="overlay-holder">
        <div class="popup IQPM-popup">
            <div class="popup-header">
                <div class="popup-text">PENDING REPAIRS PER MODEL</div>
                <div class="btn-close"><img src="/public/images/close.svg" alt="close popup"></div>
            </div>
            <div class="popup-subheader">
                <div class="dashed-line"></div>
                <div class="popup-text-one">Date range</div>
                <div class="dashed-line"></div>
            </div>
            <div class="popup-options">
                <div class="btn-dropdown-mock">Month</div>
                <div class="btn-dropdown-mock">Quarter</div>
                <div class="btn-dropdown-mock">Year</div>
            </div>
            <div class="popup-subheader">
                <div class="dashed-line"></div>
                <div class="popup-text-one">Task type</div>
                <div class="dashed-line"></div>
            </div>
            <div class="popup-options">
                <div class="btn-dropdown-mock">Repair</div>
                <div class="btn-dropdown-mock">Replace</div>
                <div class="btn-dropdown-mock">Return</div>
            </div>
            <div class="popup-subheader">
                <div class="popup-subheader">

                    <div class="popup-text-one">Item
                    </div>
                    <div class="dashed-line"></div>
                    <div class="popup-text-one">or</div>
                    <div class="dashed-line"></div>
                    <div class="popup-text-one">Category</div>

                </div>
            </div>
            <div class="popup-options">
                <div class="btn-dropdown-mock">(select) <img src="/public/images/dropdownArrow.svg" alt="dropdown"></div>
                <div class="btn-dropdown-mock">(select) <img src="/public/images/dropdownArrow.svg" alt="dropdown"></div>
            </div>
            <div class="btn-generate-report">
                <a href="IQPM.html">Generate report</a>
            </div>
        </div>

        <div class="dark-overlay"></div>
    </div>

    <!-- header -->
    <header>
        <div class="left">
            <div id="CompanyLogo">
                <img src="/public/images/Btn_Logo.png">
            </div>
            <h2 class="Title">Generate Report </h2>
            <h3></h3>
        </div>
        <div class="right">
            <div class="Profile"></div>
        </div>
    </header>
    <hr class="line1">
    <hr class="line2">  
    <!--  -->
    <div class="reports-menu">
        <div class="btn-report-holder" data-report="IQPM">
            <div>
                <img class="report-icon" src="/public/images/IQPM.svg" alt="Item Quantity per Model"/>  
                <div class="report-name">ITEM QUANTITY PER MODEL</div>
            </div>
        </div>
        <div class="btn-report-holder"  data-report="TDPM">
            <div>
                <img class="report-icon" src="/public/images/TDPM.svg" alt="Top Defects Per Model"/>  
                <div class="report-name">TOP DEFECTS PER MODEL</div>
            </div>
        </div>
        <div class="btn-report-holder" data-report="PTPM">
            <div>
                <img class="report-icon" src="/public/images/PTPM.svg" alt="Pending Tasks per Model"/>  
                <div class="report-name">PENDING TASKS PER MODEL</div>
            </div>
        </div>
    </div>
</body>


</html>