<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/import.css">
    <script src="/src/nav.js" defer></script>
    <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <div class="overlay-holder">
        <div class="popup"></div>
        <div class="dark-overlay"></div>
    </div>

    <header>
        <div class="left">
            <button id="CompanyLogo">
                <img src="/images/Btn_Logo.png">
            </button>
            <h2 class="Title">Import file </h2>
            <h3></h3>
        </div>
        <div class="right">
            <div class="Profile"></div>
        </div>
    </header>

    <div class="navHolder"></div>

    <hr class="line1">
    <hr class="line2">  

    <div class="mainContent">
        <form id="form" action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="filetoupload" id="filetoupload"><br>
        <input type="submit" id="submit">
    </form>
    </div>

    <script>
        function blob2file(blobData) {
            const fd = new FormData();
            fd.set('a', blobData);
            return fd.get('a');
        }
        $(document).ready(function () {
            
            $('#submit').click(async function (e) {
                e.preventDefault();
                // var formData = new FormData( $('#form')[0]);
                // console.log(formData);
                
                var file = $('#form')[0][0].files[0];

                console.log(file);
                console.log(file instanceof Blob);
                console.log(typeof(file));
                var workbook = XLSX.read(await file.arrayBuffer(), { type: "array" });

                console.log("name = " + file.name);
                console.log(workbook);
                var wopts = { bookType:'xlsx', bookSST:false, type:'base64' };
                var wbout = XLSX.write(workbook,wopts);
                //RESTRICT TO EXCEL FILE ONLY
                console.log(typeof(wbout));
                console.log(wbout instanceof Blob);
                var blob = new Blob([wbout], {type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"});
                var formData = new FormData();


                const wbValues = [];
                var index = 0;
                //Store workbook values into wbValues array
                for(var i in workbook.Sheets.IMPORT_DATA) {
                    wbValues[index] = workbook.Sheets.IMPORT_DATA[i].v;
                    //console.log(workbook.Sheets.IMPORT_DATA[i].v);
                    //console.log(i);
                    index++;
                }
                console.log("wb Values = " + wbValues);
                //Create JSON object of wbValues array
                wbValuesJson = JSON.stringify(wbValues);
                console.log("wbValuesJson = " + wbValuesJson);
                
                formData.append('file', file.name);
                formData.append('data', wbout);
                //Pass JSON object array
                formData.append('excelValues', wbValuesJson)

                $.ajax({
                        url: '/importFile',  
                        type: 'POST',
                        data: formData,
                        success:function(data){
                            console.log(data);
                        },
                        cache: false,
                        contentType: false,
                        processData: false
                });
            });
        });
    </script>
</body>