<!DOCTYPE html>
<html>
	<head>
	  <title>Homepage</title>
	  <link rel="stylesheet" type="text/css" href="/public/css/Report.css">
	</head>
	<body>
		<header>
			<div class="left">
				<div id="CompanyLogo">
					<img src="/public/images/Btn_Logo.png">
				</div>
				<div id="ReportLogo">
					<img src="/public/images/IQPMLogo.png">
				</div>
				<h2>Report:</h2>
				<h3>ITEM QUANTITY PER MODEL</h3>
			</div>
			<div class="right">
				<div class="Profile"></div>
			</div>
		</header>
		<hr class="line1">
		<hr class="line2">
	    <div class="ReportBody">
			<h3>Accessories' Item Quantity for January 2024</h3>
			<canvas id="myChart"></canvas>
		</div>
		<footer>
			<a href="...">Generate Another Report</a>
		</footer>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
		<script src="/src/main.js"></script>
	</body>
</html>