<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>Document</title>
</head>
<body>
    <div class="upperbox">
        <img src="/images/FullKevlerLogo.png" alt="">
    </div>    
    <div class="lowerbox">
        <label for="username" class="text-1">username: </label>
        <input class="input-box" type="text" id="username" name="username">
        <label for="password" class="text-1">password: </label>
        <input class="input-box" type="text" id="password" name="password">
        <a href="home.html"><div class="btn-login">login</div></a>
    </div>

</body>