<!DOCTYPE html>
<html>
	<head>
	  <title>Homepage</title>
	  <link rel="stylesheet" type="text/css" href="/public/css/Report.css">
	</head>
	<body>
		<header>
			<div class="left">
				<div id="CompanyLogo">
					<img src="/public/images/Btn_Logo.png">
				</div>
				<div id="ReportLogo">
					<img src="/public/images/IQPMLogo.png">
				</div>
				<h2>Report:</h2>
				<h3>PENDING TASK PER MODEL</h3>
			</div>
			<div class="right">
				<div class="Profile"></div>
			</div>
		</header>
		<hr class="line1">
		<hr class="line2">
	    <div class="ReportBody">
			<h3>Pending tasks for &#40model name&#41 for &#40month year/quarter year/year&#41</h3>
			<div class="table">
				<table>
                    <tr id="tableHead">
                        <th>DATE</th>
                        <th>PL#</th>
                        <th>CUSTOMER</th>
                        <th>ITEM/MODEL</th>
                        <th>QTY</th>
                        <th>UOM</th>
                        <th>DEFECT</th>
                        <th>DESCRIPTION</th>
                    </tr>
                    <tr>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                </table>
			</div>
		</div>
		<footer>
			<a href="...">Generate Another Report</a>
		</footer>
	</body>
</html>