<body>
    {{#each repair}}
        <tr>
            <div class="repairs">
            
            <td><div class="name"><strong>{{repairId}}</strong></div></td>
            <td><div class="seatNum"><strong>{{repairDate}}</strong></div></td>
            <td><div class="timeReserve"><strong>{{}}</strong></div></td>
            <td><div class="finalTimeReserved"><strong>{{}}</strong></div></td>
            <td><div class="dateReserved"><strong>{{}}</strong></div></td>
            </div>
        <tr>
    {{/each}}
</body>
