@import url('https://fonts.googleapis.com/css2?family=Lato&family=Pixelify+Sans&family=Roboto+Mono&display=swap');
:root {
    --primary: #F3B52A;
    --bg: #FFFF;
    --box-bg: #FAF8F8;
    --accent: #8c519b;
    --accent-2: #ed4d77; 
    --accent-3: #3595fc;
    --dm-description: #9fa0a4;
    --dm-bg: #3c404f; /*lighter bg*/
    --dm-box-bg: #2d303f; /*box bg*/
    --dm-box-nested-bg: #212433;
    --dm-box-bg-2: #ecffea;
    --easy: #f0c82b;
    --moderate: #f99c2d;
    --difficult: #e84349;
    --very-difficult: #ed4d77;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
	font-family: "Inter", sans-serif;
	font-size: 1rem;
	margin: 0;
	padding: 0;
}

header{
	top: 0;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
    background-color: var(--bg);
    border-bottom: solid 5px var(--primary);
    position: sticky;
    top: 0;
    height: 15vh;
}

header .left{
	float: left;
	display: flex;
	position: relative;
	align-items: center;
}

header .left #CompanyLogo{
	width: 15vh;
	height: 15vh;
	background-color: #F3B52A;
}

header .left #ReportLogo {
	margin-left: 46;
}

header .left img{
	margin: auto;
    width: 15vh;
	height: 15vh;
}

header .left h2{
	font-size: 10vh;
	font-weight: bold;
	color: #0B0B0B;
}

header .left h3{
	font-size: 40.52px;
	margin-top: 30px;
	margin-left: 35px;
	color: #0B0B0B;
}

header .right{
	float: right;
	margin-right: 34px;
}

header .right .Profile{
	border: 1vh solid var(--bg);
	border-radius: 50%;
	height: 10vh;
	width: 10vh;
	background-color: #0b0b0b;
}

header .right .Profile:hover{
	border: 1vh solid #FFD36F;
}

.line1{
	border: 5px solid #F3B52A;
	margin-bottom: 12px;
}

.line2{
	border: 1.5px solid #F3B52A;
}

.reports-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.btn-report-holder{
    width: 40vh;
    height: 60vh;
    background-color: var(--box-bg);
    border-radius: 25px;
    box-shadow: -2px 10px 14px -13px var(--dm-box-nested-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 9vh;
}

.btn-report-holder div{
    margin: 5%;
}

.btn-report-holder .report-icon{
    width: 35vh;
    height: 35vh;
}

.btn-report-holder .report-name{
    font-size: 3vh;
    text-align: center;
    font-weight: bolder;
}

h2{
    font-size: 1px;
}


@media screen and (max-width:800px){

    header .left h2{
        font-size: 6vh;
    }
}