:root {
    --primary: #F3B52A;
    --muted-primary: #FACF70: 
    --bg: #FFFF;
    --box-bg: #FAF8F8;
    --nested-box-bg: #DEDEDE; 
    --near-black: #0B0B0B;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
	font-family: "Inter", sans-serif;
	font-size: 1rem;
	margin: 0;
	padding: 0;
}

body{
    min-height: 100vh;
}

header{
	top: 0;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
    background-color: var(--bg);
    border-bottom: solid 5px var(--primary);
    position: sticky;
    top: 0;
    height: 15vh;
}

header .left{
	float: left;
	display: flex;
	position: relative;
	align-items: center;
}

header .left #CompanyLogo{
	width: 15vh;
	height: 15vh;
	background-color: #F3B52A;
}

header .left #ReportLogo {
	margin-left: 46;
}

header .left img{
	margin: auto;
    width: 15vh;
	height: 15vh;
}

header .left h2{
	font-size: 10vh;
	font-weight: bold;
    margin-left: 1.5vh;
	color: #0B0B0B;
}

header .left h3{
	font-size: 40.52px;
	margin-top: 30px;
	margin-left: 35px;
	color: #0B0B0B;
}

header .right{
	float: right;
	margin-right: 34px;
}

header .right .Profile{
	border: 1vh solid var(--bg);
	border-radius: 50%;
	height: 10vh;
	width: 10vh;
	background-color: #0b0b0b;
}

header .right .Profile:hover{
	border: 1vh solid #FFD36F;
}

.line1{
	border: 5px solid #F3B52A;
	margin-bottom: 12px;
}

.line2{
	border: 1.5px solid #F3B52A;
}


/* .IQPM-popup{
    display: none;
} */
.overlay-holder{
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.popup{
    z-index: 2;
    position: absolute;
    width:  80vh;
    height: 75vh;
    background-color: var(--box-bg);
    border-radius: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
}

.popup .popup-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 96%;
    border-bottom: solid 0.5vh var(--primary);
}

.popup .popup-text{
    font-size: 4vh;
    font-weight: bolder;
}

.popup .btn-close img{
    width: 4vh;
    height: 4vh;
}

.popup-subheader{
    width: 96%;
    display: flex;
}
.popup-subheader .popup-text-one{
    width: 70%;
    text-align: center;
    font-size: 3vh;
    font-weight: 500;
    margin-left:1vh;
    margin-right:1vh;
}

.popup .dashed-line{
    width: 100%;
    height: 2vh;
    border-bottom: dashed 0.40vh var(--primary);
}

.btn-generate-report{
    width: 30%;
    background-color: var(--primary);
    border-radius: 1vh;
    text-align: center;
    padding: 1vh;
}

.btn-generate-report :hover{
    background-color: var(--muted-primary);
    cursor: pointer;
}

.popup-options{
    width: 96%;
    display: flex;
    margin-bottom: 3vh;
    justify-content: space-between;
}

.btn-dropdown-mock{
    width: 29%;
    background-color: var(--nested-box-bg);
    border-radius: 1vh;
    text-align: center;
    padding: 1vh;
    font-size: 2.7vh;
    display: flex;
    justify-content: space-between;
}

.btn-dropdown-mock img{
    width: 3vh;
    height: 3vh;
}

.dark-overlay{
    z-index: 1;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: var(--near-black);
    opacity: 50%;
}

.reports-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.btn-report-holder{
    width: 40vh;
    height: 60vh;
    background-color: var(--box-bg);
    border-radius: 25px;
    box-shadow: -2px 10px 14px -13px var(--dm-box-nested-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 9vh;
}

.btn-report-holder div{
    margin: 5%;
}

.btn-report-holder .report-icon{
    width: 35vh;
    height: 35vh;
}

.btn-report-holder .report-name{
    font-size: 3vh;
    text-align: center;
    font-weight: bolder;
}

.btn-report-holder div:hover{
    transform: scale(1.045);
    transition-duration: 0.5s;
}

.btn-report-holder img:hover{
    filter: invert(52%) sepia(3%) saturate(20%) hue-rotate(350deg) brightness(95%) contrast(82%);
    transition-duration: 1s;
}

h2{
    font-size: 1px;
}

@media screen and (max-width:800px){

    header .left h2{
        font-size: 6vh;
    }
}