:root {
    --primary: #F3B52A;
    --muted-primary: #FACF70: 
    --bg: #FFFF;
    --box-bg: #FAF8F8;
    --nested-box-bg: #DEDEDE; 
    --near-black: #0B0B0B;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
	font-family: "Inter", sans-serif;
	font-size: 1rem;
	margin: 0;
	padding: 0;
}

body{
    min-height: 100vh;
}

header{
	top: 0;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
    background-color: var(--bg);
    border-bottom: solid 5px var(--primary);
    position: sticky;
    top: 0;
    height: 15vh;
    background-color: var(--bg);
}

header .left{
	float: left;
	display: flex;
	position: relative;
	align-items: center;
}

header .left #CompanyLogo{
	width: 15vh;
	height: 15vh;
	background-color: #F3B52A;
}

header .left #ReportLogo {
	margin-left: 46;
}

header .left img{
	margin: auto;
    width: 15vh;
	height: 15vh;
}

header .left h2{
	font-size: 10vh;
	font-weight: bold;
    margin-left: 1.5vh;
	color: #0B0B0B;
}

header .left h3{
	font-size: 5vh;
    margin-left: 2vh;
	color: #0B0B0B;
}

header .right{
	float: right;
	margin-right: 34px;
}

header .right .Profile{
	border: 1vh solid var(--bg);
	border-radius: 50%;
	height: 10vh;
	width: 10vh;
	background-color: #0b0b0b;
}

header .right .Profile:hover{
	border: 1vh solid #FFD36F;
}

.line1{
	border: 5px solid #F3B52A;
	margin-bottom: 12px;
}

.line2{
	border: 1.5px solid #F3B52A;
}


@media screen and (max-width:800px){

    header .left h2{
        font-size: 6vh;
    }
}

a{
    text-decoration: none;
    color: var(--near-black);
}