.overlay-holder{
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    display: none;
}

.popup{
    margin-top: 20vh;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 12.5%;
    z-index: 2;
    position: absolute;
    width:  80vh;
    height: 75vh;
    background-color: var(--box-bg);
    border-radius: 4vh;
    
}

.popup .popup-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    width:  100%;
    height: 100%;
}

.popup .popup-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 96%;
    border-bottom: solid 0.5vh var(--primary);
}

.popup .popup-text{
    font-size: 4vh;
    font-weight: bolder;
}

.popup .btn-close{
    border: none;
    background-color: var(--box-bg);
}

.popup .btn-close img{
    z-index: 3;
    width: 4vh;
    height: 4vh;
}

.popup .btn-close img:hover{
    cursor: pointer;
    filter: invert(52%) sepia(3%) saturate(20%) hue-rotate(350deg) brightness(95%) contrast(82%);
    transition-duration: 1s;
}

.popup-subheader{
    width: 96%;
    display: flex;
    margin-bottom: 1.5vh;
}
.popup-subheader .popup-text-one{
    width: 70%;
    text-align: center;
    font-size: 3vh;
    font-weight: 500;
    margin-left:1vh;
    margin-right:1vh;
}

.popup .dashed-line{
    width: 100%;
    height: 2vh;
    border-bottom: dashed 0.40vh var(--primary);
}

.btn-generate-report{
    width: 30%;
    background-color: var(--primary);
    border-radius: 1vh;
    text-align: center;
    padding: 1vh;
}

.btn-generate-report :hover{
    background-color: var(--muted-primary);
    cursor: pointer;
}

.popup-options{
    width: 96%;
    display: flex;
    margin-bottom: 3vh;
    justify-content: space-between;    
}

.centered{
    width: 96%;
    display: flex;
    justify-content: center;
}

.popup-options button{
    border: none;
}

.popup .report-specifics-holder{
    width: 96%;
    height: 45%;
}

.date-options{
    display: flex;
    position: absolute;
    justify-content: space-between;
    background-color: var(--box-bg);
    width: 96%;
    padding-bottom: 0.5vh;
}

.date-options .selection{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--box-bg);
    width: 100%;
    height: 5vh;
}

select{
    border: none;
}

.dropdown-selection{
    appearance: none;
    background-image: url(/images/dropdownArrow.svg);
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 2.5vh;
}

.date-options .btn-option-close{
    background-color: var(--box-bg);
    position: absolute;
    
}

.date-options .btn-option-close img{
    width: 4.5vh;
    height: 4.5vh;
}

.btn-dropdown-mock{
    width: 29%;
    background-color: var(--nested-box-bg);
    border-radius: 1vh;
    text-align: center;
    padding: 1vh;
    font-size: 2.7vh;
    /* display: flex; */
    /* justify-content: space-between; */
}

.taskOption{
    width: 20%;
    background-color: var(--nested-box-bg);
    border-radius: 1vh;
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 2.7vh;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: space-between;
}

.btn-report-holder div:hover{
    cursor: pointer;
    transform: scale(102.0);
    transition: 1s;
}

.btn-dropdown-mock img{
    width: 3vh;
    height: 3vh;
}

.dark-overlay{
    z-index: 1;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: var(--near-black);
    opacity: 50%;
    /* display: none; */
}


header .right .Profile:hover{
    font-weight: bolder;
}

.reports-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    width: 100%;
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
    right: 0;
}


.btn-report-holder{
    width: 40vh;
    height: 60vh;
    background-color: var(--box-bg);
    border-radius: 25px;
    box-shadow: -2px 10px 14px -13px var(--near-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5vh;
}

.btn-report-holder div{
    margin: 5%;
}

.btn-report-holder .report-icon{
    width: 35vh;
    height: 35vh;
}

.btn-report-holder .report-name{
    font-size: 3vh;
    text-align: center;
    font-weight: bolder;
}

.btn-report-holder div:hover{
    transform: scale(1.045);
    transition-duration: 0.5s;
}

.btn-report-holder img:hover{
    filter: brightness(80%) contrast(130%);
    transition-duration: 0.5s;
}

.navBtn img:hover{
    filter: contrast(70%) brightness(200%) hue-rotate(-25deg) saturate(0%);
    transition-duration: 0.3s;
}

.taskType .taskOption span{
    font-size: 3vh;
    width: 100%;
    border-radius: 5px;
}

.taskType .taskOption input{
    appearance: none;
    position: absolute;
}

.taskType .taskOption input:checked + span{
    background-color: rgb(193, 193, 193);
}