input{
    margin: 1vh;
}

#submit {
    background-color: var(--primary);
    padding: 2vh;
    border: none;
    border-radius: 2vh;
}

#submit:hover {
    background-color: var(--muted-primary);
}

#alert{
    font-size: 4vh;
    text-align: center;
}