table, td {
    border: 1px solid var(--nested-box-bg);
}

table{
    border-collapse: collapse;
}

th{
    border: 1px solid var(--bg);
    padding-top: 2vh;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--primary);
    color: var(--near-black);
}

tr:nth-child(odd){background-color: var(--nested-box-bg);}

tr:hover {
    background-color: var(--muted-primary);
    border: 1px solid var(--primary);
}

.table-holder{
    margin: 3vh;
    overflow: scroll;
}

.overlay-holder{
    z-index: 2;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    display: none;
}

.editForm{
    margin-top: 5vh;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 12.5%;
    z-index: 2;
    position: absolute;
    width:  80vh;
    height: 75vh;
    background-color: var(--box-bg);
    border-radius: 4vh;
}

.editForm .popup-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    width:  100%;
    height: 100%;
}

.editForm .popup-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 96%;
    border-bottom: solid 0.5vh var(--primary);
}

.editForm .popup-text{
    font-size: 4vh;
    font-weight: bolder;
}

.editForm .btn-close{
    border: none;
    background-color: var(--box-bg);
}

.editForm .btn-close img{
    z-index: 3;
    width: 4vh;
    height: 4vh;
}

.editForm .btn-close img:hover{
    cursor: pointer;
    filter: invert(52%) sepia(3%) saturate(20%) hue-rotate(350deg) brightness(95%) contrast(82%);
    transition-duration: 1s;
}

.btn-edit{
    margin-left: 12.5vh;
    width: 20%;
    background-color: var(--primary);
    border-radius: 1vh;
    text-align: center;
    padding: 1vh;
    font-weight: bold;
}

.btn-edit :hover{
    background-color: var(--muted-primary);
    cursor: pointer;
}

.dark-overlay{
    z-index: 1;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: var(--near-black);
    opacity: 50%;
    /* display: none; */
}

.rowDataEdit{
    margin: 2vh 2vh;
}

.editForm-part input{
    width: 10%;
    border: 0.05vh solid rgb(109, 109, 109);
    font-size: 2vh;
    background-color: var(--nested-box-bg);
    border-radius: 1vh;
    height: 4vh;
    padding-left: 1vh;
    padding-right: 1vh;
}

.editForm-part select{
    width: 25%;
    border: 0.05vh solid rgb(109, 109, 109);
    font-size: 2vh;
    background-color: var(--nested-box-bg);
    border-radius: 1vh;
    height: 4vh;
    padding-left: 1vh;
}

.editForm-part label{
    font-size: 2vh;
    font-weight: 600;
    margin-left: 1vh;
}

.editForm-part{
    margin-bottom: 1vh;
}

#repairUOM{
    width: 10%;
}

#repairDescription, #repairRemarks{
    width: 70%;
}

#repairDescription, #repairRemarks{
    width: 70%;
}

#repairDefect{
    width: 50%;
}

#repairDate, #repairDateStarted, #repairDateFinished, #repairDateReturned{
    width: 13%;
}

#repairSerialNumber{
    width: 16%;
}

.idNum{
    width: 80%;
    border: none;
    background-color: var(--nested-box-bg);
    border-radius: 1vh;
    height: 4vh;
    margin: 0.5vh;
}

.idNum:hover{
    background-color: var(--primary);
}

  /* Attribution for styling */
  /* https://www.w3schools.com/Css/tryit.asp?filename=trycss_table_fancy */